.header-container{
    display: flex;
    align-items: center;
    height: 84px;
    margin-bottom: 10px;
    padding-left: 30px;
    background-color: #fff;
    box-shadow: 0 0 10px #999;
    position: fixed;
    top:0;
    left: 0;
    z-index: 10;
    width: 100vw;
}
.header-menu{
    background: url(../mobileImage/nav_icon.png) no-repeat left center;
    background-size: cover;
    width: 23px;
    height: 16px;
    margin-right: 10px;
}
.header-title{
    color:#4c4c4c;
    font-size: 2rem;
    height: 60px;
    line-height: 60px;
}
body{
    padding-top: 84px;
}
/* 菜单弹层 */
.popUp{
    width: 78%;
    height: 100vh;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    background-color:#fff;
    display: none;
}
.popUp-header{
    width: 100%;
    height: 83px;
    display: flex;
    align-items: center;
    background: url(../mobileImage/nav_top_bg.png) no-repeat left center;
    background-size: cover;
    font-size: 1.4rem;
}
.popUp-header a{
    color: #8095af;
}
.popUp-header .headImg{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 16px;
    margin-right: 16px;
    overflow: hidden;
}
.popUp-header .headImg img{
    width: 100%;
    height: 100%;
}
.popUp-header .login{
    border-right: 1px solid #8095af;
    padding-right: 10px;
    margin-right: 10px;
}
.popUp-content li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 12px;
    padding-right: 12px;
    height: 50px;
}
.popUp-content .iconfont{
    font-size: 1.1rem;
    color: #666;
}
.popUp-content .imgWrap{
    display: flex;
    align-items: center;
    height: 100%;
}
.popUp-content li a{
    color: #4c4c4c;
    font-size: 1.6rem;
}
.popUp-content li:hover{
    background-color:#EEF2F7;
}
.content-footer{
    border-top: 1px solid #ccc;
    margin-left: 10px;
    margin-right: 10px;
}
.content-footer .item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}
.content-footer .item a{
    font-size: 1.4rem;
    color: #999;
}
.popUp-content a{
    display: inline-block;
    width: 90%;
}
/* 菜单弹层结束 */