body{
    padding-top: 0;
}
/* 头部开始 */
.header-container{
    display: flex;
    align-items: center;
    height: 84px;
    padding-left: 30px;
    background-color: #fff;
    box-shadow: 0 0 10px #999;
    position: fixed;
    top:0;
    left: 0;
    z-index: 11;
    width: 100vw;
}
.header-menu{
    background: url(../mobileImage/nav_icon.png) no-repeat left center;
    background-size: cover;
    width: 23px;
    height: 16px;
    margin-right: 10px;
}
.option-wrap{
    margin-top: 70px;
    background-color: #fff;
    box-shadow: 0 0 10px #ccc;
    display: none;
}
.header-title-normal{
    color:#4c4c4c;
    font-size: 2rem;
    width: 280px;
    height: 60px;
    line-height: 60px;
    padding-left: 10px;
}
.header-title{
    color:#4c4c4c;
    font-size: 2rem;
    width: 280px;
    height: 60px;
    line-height: 60px;
    padding-left: 10px;
    padding-top: 22px;
}
.solution-option a.op{
    display: block;
    padding: 10px 0 10px 10px;
    font-size: 1.6rem;
    color: #666;
}
.solution-option a:hover{
    background-color: #eee;
}
/* 头部结束 */
/* 轮播图 */
.swiper-container{
    height: 230px;
}
.swiper-slide{
    background: url(../mobileImage/hj_ban.png) no-repeat center center;
    background-size: 100%;
}
.swiper-pagination{
    transform: translate3d(0,-40px,0)
}
.swiper-pagination-bullet{
    display: inline-block;
    width: 16px;
    height: 2px;
    border-radius: 1px;
}
/* 轮播图结束 */
.content{
    background-color: #fff;
    width: 94%;
    margin: 0 auto;
    transform: translateY(-45px);
    position: relative;
    z-index: 10;
}
.content-item{
    padding: 10px;
    margin-bottom: 14px;
    box-shadow: 0 0 10px #ccc;
}
.item-title{
    text-align: center;
    font-weight: normal;
    font-size: 1.8rem;
    color: #4D4D4D;
    padding: 15px 0 20px 0;
}
.s-title{
    text-align: center;
    font-size: 1.4rem;
    font-weight: normal;
    color: #333;
    width: 160px;
    height: 32px;
    line-height: 32px;
    margin: 16px auto;
    border-radius: 35px;
    color: #4D4D4D;
    background-color: #ddd;
}
.content-item p{
    line-height: 22px;
    font-size: 1.16rem;
}
/* FBA Pro方案概述 */
.pic-wrap{
    /* background-color: green; */
    width: 330px;
    height: 500px;
    position: relative;
    margin: 0 auto;
}
.pic-wrap .ele{
    position: absolute;
    border-radius: 4px;
    font-size: 1.2rem;
    text-align: center;
}
.FBAoverview .pic-wrap{
    height: 430px;
}
.FBAoverview .pic-wrap .ele.one{
    top:16px;
    left: 10px;
    width: 60px;
    height: 80px;
    background: url(../mobileImage/fa2_lc1_ico1.png) no-repeat center center;
    background-size: 100% 100%;
}
.FBAoverview .pic-wrap .ele.two{
    top:16px;
    left: 135px;
    width: 60px;
    height: 67px;
    background: url(../mobileImage/fa2_lc1_ico2.png) no-repeat center center;
    background-size: 100% 100%;
}
.FBAoverview .pic-wrap .ele.three{
    top:16px;
    left: 260px;
    width: 60px;
    height: 70px;
    background: url(../mobileImage/fa2_lc1_ico3.png) no-repeat center center;
    background-size: 100% 100%;
}
.FBAoverview .pic-wrap .ele.four{
    top:130px;
    left: 10px;
    width: 60px;
    height: 67px;
    background: url(../mobileImage/fa2_lc1_ico4.png) no-repeat center center;
    background-size: 100% 100%;
}
.FBAoverview .pic-wrap .ele.five{
    top:130px;
    left: 135px;
    width: 60px;
    height: 73px;
    background: url(../mobileImage/fa2_lc1_ico5.png) no-repeat center center;
    background-size: 100% 100%;
}
.FBAoverview .pic-wrap .ele.six{
    top:130px;
    left: 240px;
    width: 85px;
    height: 71px;
    background: url(../mobileImage/fa2_lc1_ico6.png) no-repeat center center;
    background-size: 100% 100%;
}
.FBAoverview .pic-wrap .ele.seven{
    top:242px;
    left: 134px;
    width: 60px;
    height: 69px;
    background: url(../mobileImage/fa2_lc1_ico7.png) no-repeat center center;
    background-size: 100% 100%;
}
.FBAoverview .pic-wrap .ele.eight{
    top:314px;
    left: 8px;
    width: 60px;
    height: 69px;
    background: url(../mobileImage/fa2_lc1_ico8.png) no-repeat center center;
    background-size: 100% 100%;
    z-index: 1;
}
.FBAoverview .pic-wrap .ele.nine{
    top:315px;
    left: 256px;
    width: 60px;
    height: 70px;
    background: url(../mobileImage/fa2_lc1_ico9.png) no-repeat center center;
    background-size: 100% 100%;
}
.FBAoverview .pic-wrap .ele.ten{
    top:35px;
    left: 65px;
    width: 67px;
    height: 20px;
    background: url(../mobileImage/fa2_lc1_jt1.png) no-repeat center center;
    background-size: 100% 100%;
}
.FBAoverview .pic-wrap .ele.eleven{
    top:35px;
    left: 200px;
    width: 58px;
    height: 20px;
    background: url(../mobileImage/fa2_lc1_jt2.png) no-repeat center center;
    background-size: 100% 100%;
}
.FBAoverview .pic-wrap .ele.twelve{
    top:90px;
    left: 28px;
    width: 286px;
    height: 48px;
    background: url(../mobileImage/fa2_lc1_jt3.png) no-repeat center center;
    background-size: 100% 100%;
}
.FBAoverview .pic-wrap .ele.thirteen{
    top:206px;
    left: 34px;
    width: 255px;
    height: 74px;
    background: url(../mobileImage/fa2_lc1_jt4.png) no-repeat center center;
    background-size: 100% 100%;
}
.FBAoverview .pic-wrap .ele.fourteen{
    top:316px;
    left: 33px;
    width: 220px;
    height: 34px;
    background: url(../mobileImage/fa2_lc1_jt5.png) no-repeat center center;
    background-size: 100% 100%;
}
.FBAoverview .pic-wrap .ele.fifteen{
    top:316px;
    left: 35px;
    width: 135px;
    height: 86px;
    background: url(../mobileImage/fa2_lc1_jt6.png) no-repeat center center;
    background-size: 100% 100%;
}
/* FBA Pro方案概述结束 */
/* 亚马逊卖家的五类烦恼 */
.amazon .pic-wrap{
    height: 250px;
}
.amazon .title{
    text-align: center;
    font-weight: 500;
    font-size: 1.8rem;
    color: #4D4D4D;
    margin: 20px 0;
}
.amazon .title .focus{
    color: #EC6C00;
}
.amazon .pic-wrap .ele.one{
    top:42px;
    left: 116px;
    width: 103px;
    height: 114px;
    background: url(../mobileImage/fa2_lc2_img1.png) no-repeat center center;
    background-size: 100% 100%;
}   
.amazon .pic-wrap .ele.two{
    top:36px;
    left: 15px;
    width: 121px;
    height: 57px;
    background: url(../mobileImage/fa2_lc2_img2.png) no-repeat center center;
    background-size: 100% 100%;
}
.amazon .pic-wrap .ele.three{
    top:36px;
    left: 190px;
    width: 132px;
    height: 66px;
    background: url(../mobileImage/fa2_lc2_img3.png) no-repeat center center;
    background-size: 100% 100%;
}
.amazon .pic-wrap .ele.four{
    top:92px;
    left: 15px;
    width: 145px;
    height: 69px;
    background: url(../mobileImage/fa2_lc2_img4.png) no-repeat center center;
    background-size: 100% 100%;
}
.amazon .pic-wrap .ele.five{
    top:100px;
    left: 180px;
    width: 142px;
    height: 68px;
    background: url(../mobileImage/fa2_lc2_img5.png) no-repeat center center;
    background-size: 100% 100%;
}
.amazon .pic-wrap .ele.six{
    top:116px;
    left: 112px;
    width: 94px;
    height: 104px;
    background: url(../mobileImage/fa2_lc2_img6.png) no-repeat center center;
    background-size: 100% 100%;
}
/* 亚马逊卖家的五类烦恼 */
/* 4PX提供的五种服务 */
.fiveService .pic-wrap{
    height: 250px;
}
.fiveService .title{
    text-align: center;
    font-weight: 500;
    font-size: 1.8rem;
    color: #4D4D4D;
    margin: 20px 0;
}
.fiveService .title .focus{
    color: #EC6C00;
}
.fiveService .pic-wrap .ele.one{
    top:55px;
    left: 90px;
    width: 158px;
    height: 142px;
    background: url(../mobileImage/fa2_lc3_img2.png) no-repeat center center;
    background-size: 100% 100%;
}   
.fiveService .pic-wrap .ele.two{
    top:0;
    left: 70px;
    width: 88px;
    height: 82px;
    background: url(../mobileImage/fa2_lc3_img3.png) no-repeat center center;
    background-size: 100% 100%;
}
.fiveService .pic-wrap .ele.three{
    top:0;
    left: 180px;
    width: 88px;
    height: 82px;
    background: url(../mobileImage/fa2_lc3_img4.png) no-repeat center center;
    background-size: 100% 100%;
}
.fiveService .pic-wrap .ele.four{
    top:92px;
    left: 22px;
    width: 88px;
    height: 82px;
    background: url(../mobileImage/fa2_lc3_img5.png) no-repeat center center;
    background-size: 100% 100%;
}
.fiveService .pic-wrap .ele.five{
    top:88px;
    left: 225px;
    width: 88px;
    height: 82px;
    background: url(../mobileImage/fa2_lc3_img6.png) no-repeat center center;
    background-size: 100% 100%;
}
.fiveService .pic-wrap .ele.six{
    top:155px;
    left: 125px;
    width: 88px;
    height: 89px;
    background: url(../mobileImage/fa2_lc3_img7.png) no-repeat center center;
    background-size: 100% 100%;
}
.fiveService .pic-wrap .ele.seven{
    top:102px;
    left: 140px;
    width: 56px;
    height: 53px;
    background: url(../mobileImage/fa2_lc3_img1.png) no-repeat center center;
    background-size: 100% 100%;
}
.itemDes .itemLi{
    margin-bottom: 15px;
}
.itemDes .itemLi .itemHead .sortNum{
    display: inline-block;
    width: 26px;
    height: 26px;
    text-align: center;
    line-height: 26px;
    color: #fff;
    background: url(../mobileImage/fa2_lc3_ico1.png) no-repeat center center;
    background-size: 100%;
}
.itemDes .itemLi .itemHead{
    font-size: 1.6rem;
}
.itemDes .itemLi .s-itemWrap{
    padding-left: 30px;
}
.itemDes .itemLi .s-itemWrap li{
    font-size: 1.2rem;
    height: 24px;
    line-height: 24px;
}
.itemDes .itemLi .s-itemWrap li:before{
    content: '';
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #ccc;
    margin-right: 4px;
}
/* 4PX提供的五种服务结束 */


/* 4PX推荐的三种服务组合开始 */
.servicePor .eleWrap{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.servicePor .title{
    text-align: center;
    font-weight: 500;
    font-size: 1.8rem;
    color: #4D4D4D;
    margin: 20px 0;
}
.servicePor .title .focus{
    color: #EC6C00;
}
.porItem{
    margin-bottom: 30px;
}
.porItemH{
    font-size: 1.4rem;
}
.porItemH .headIcon{
    display: inline-block;
    width: 50px;
    height: 50px;
    line-height: 42px;
    text-align: center;
    color: #fff;
    background: url(../mobileImage/fa2_lc4_ico1.png) no-repeat center center;
    background-size: 100%;
}
.servicePor .eleWrap .ele .txt{
    margin: 48px auto;
    margin-bottom: 0;
    width: 60px;
    font-size: 12px;
    text-align: center;
}
.porItemF{
    margin-top: 35px;
}  
.servicePor .porItemF ul{
    background-color: #D6DBE0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 6px;
    height: 40px;
    font-size: 1.2rem;
}
.servicePor .porItemF ul li{
    display: flex;
    align-items: center;
}
.servicePor .porItemF ul li:before{
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #999;
    margin-right: 4px;
}
.servicePor .eleWrap .ele{
    width: 56px;
    height: 56px;
}
.servicePor .eleWrap .ele.one{
    top: 5px;
    left: 0;
    background: url(../mobileImage/fa2_lc4_img1.png) no-repeat center center;
    background-size: 100% 100%;
}
.servicePor .eleWrap .ele.two{
    top:5px;
    left: 85px;
    background: url(../mobileImage/fa2_lc4_img2.png) no-repeat center center;
    background-size: 100% 100%;
}
.servicePor .eleWrap .ele.three{
    top:5px;
    left: 175px;
    background: url(../mobileImage/fa2_lc4_img3.png) no-repeat center center;
    background-size: 100% 100%;
}
.servicePor .eleWrap .ele.four{
    top:5px;
    left: 262px;
    background: url(../mobileImage/fa2_lc4_img4.png) no-repeat center center;
    background-size: 100% 100%;
}
.servicePor .eleWrap .ele.jt{
    top:30px;
    left: 70px;
    width: 14px;
    height: 14px;
    background: url(../mobileImage/fa2_lc4_jt1.png) no-repeat center center;
    background-size: 100% 100%;
}
.servicePor .eleWrap .ele.gjys{
    top:5px;
    left: 262px;
    background: url(../mobileImage/fa2_lc4_img5.png) no-repeat center center;
    background-size: 100% 100%;
}
.servicePor .eleWrap .ele.sqth{
    top:5px;
    left: 262px;
    background: url(../mobileImage/fa2_lc4_img6.png) no-repeat center center;
    background-size: 100% 100%;
}
.servicePor .eleWrap .ele.jsth{
    top:5px;
    left: 262px;
    background: url(../mobileImage/fa2_lc4_img7.png) no-repeat center center;
    background-size: 100% 100%;
}
.servicePor .eleWrap .ele.cnzy{
    top:5px;
    left: 262px;
    background: url(../mobileImage/fa2_lc4_img2.png) no-repeat center center;
    background-size: 100% 100%;
}

/* 4PX推荐的三种服务组合结束 */
/* FBA Pro独特优势 */
.advantages .title{
    text-align: center;
    font-size: 1.8rem;
    font-weight: 500;
    color: #4D4D4D;
    margin: 15px auto;
}
.advantages .adItem{
    width: 100%;
    height: 80px;
    margin-top: 20px;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 6px;
    background-size: 100% 100%;
}
.advantages .adItem .lar{
    font-size: 1.7rem;
    padding: 6px 0;
}
.advantages .adItem .des{
    font-size: 1.1rem;
}
.advantages .bjys{
    background: url(../mobileImage/fa2_lc5_bg1.png) no-repeat center center;
}
.advantages .zhsl{
    background: url(../mobileImage/fa2_lc5_bg2.png) no-repeat center center;
}
.advantages .faqmwz{
    background: url(../mobileImage/fa2_lc5_bg3.png) no-repeat center center;
    box-sizing: border-box;
    padding: 0 10px;
    text-align: left;
    margin-bottom: 40px;
}
 /* FBA Pro独特优势结束 */
 /* 菜单弹层 */
.popUp{
    width: 78%;
    height: 100vh;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    background-color:#fff;
    display: none;
}
.popUp-header{
    width: 100%;
    height: 83px;
    display: flex;
    align-items: center;
    background: url(../mobileImage/nav_top_bg.png) no-repeat left center;
    background-size: cover;
    font-size: 1.4rem;
}
.popUp-header a{
    color: #8095af;
}
.popUp-header .headImg{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 16px;
    margin-right: 16px;
    overflow: hidden;
}
.popUp-header .headImg img{
    width: 100%;
    height: 100%;
}
.popUp-header .login{
    border-right: 1px solid #8095af;
    padding-right: 10px;
    margin-right: 10px;
}
.popUp-content li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 12px;
    padding-right: 12px;
    height: 50px;
}
.popUp-content .iconfont{
    font-size: 1.1rem;
    color: #666;
}
.popUp-content .imgWrap{
    display: flex;
    align-items: center;
    height: 100%;
}
.popUp-content li a{
    color: #4c4c4c;
    font-size: 1.6rem;
}
.popUp-content li:hover{
    background-color:#EEF2F7;
}
.content-footer{
    border-top: 1px solid #ccc;
    margin-left: 10px;
    margin-right: 10px;
}
.content-footer .item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}
.content-footer .item a{
    font-size: 1.4rem;
    color: #999;
}
.popUp-content a{
    display: inline-block;
    width: 90%;
}
/* 菜单弹层结束 */
/* 小屏手机样式调整 */
@media screen and (max-width: 374px) {
    .header-title{
        width: 224px;
    }
    .pic-wrap{
       width: auto; 
    }
    .FBAoverview .pic-wrap{
        height: 400px;
    }
    .FBAoverview .pic-wrap .ele.one{
        top:16px;
        left: 10px;
        width: 48px;
        height: 64px;
    }
    .FBAoverview .pic-wrap .ele.two{
        top:16px;
        left: 118px;
        width: 48px;
        height: 54px;
    }
    .FBAoverview .pic-wrap .ele.three{
        top:16px;
        left: 226px;
        width: 48px;
        height: 56px;
    }
    .FBAoverview .pic-wrap .ele.four{
        top:116px;
        left: 10px;
        width: 48px;
        height: 54px;
    }
    .FBAoverview .pic-wrap .ele.five{
        top:116px;
        left: 118px;
        width: 48px;
        height: 58px;
    }
    .FBAoverview .pic-wrap .ele.six{
        top:116px;
        left: 212px;
        width: 68px;
        height: 56px;
    }
    .FBAoverview .pic-wrap .ele.seven{
        top:210px;
        left: 118px;
        width: 48px;
        height: 56px;
    }
    .FBAoverview .pic-wrap .ele.eight{
        top:268px;
        left: 18px;
        width: 48px;
        height: 56px;
        z-index: 1;
    }
    .FBAoverview .pic-wrap .ele.nine{
        top:270px;
        left: 216px;
        width: 48px;
        height: 56px;
    }
    .FBAoverview .pic-wrap .ele.ten{
        top:35px;
        left: 60px;
        width: 54px;
        height: 16px;
    }
    .FBAoverview .pic-wrap .ele.eleven{
        top:35px;
        left: 172px;
        width: 48px;
        height: 16px;
    }
    .FBAoverview .pic-wrap .ele.twelve{
        top:78px;
        left: 28px;
        width: 242px;
        height: 42px;
    }
    .FBAoverview .pic-wrap .ele.thirteen{
        top:180px;
        left: 30px;
        width: 218px;
        height: 59px;
    }
    .FBAoverview .pic-wrap .ele.fourteen{
        top:270px;
        left: 38px;
        width: 176px;
        height: 27px;
    }
    .FBAoverview .pic-wrap .ele.fifteen{
        top:270px;
        left: 40px;
        width: 108px;
        height: 69px;
    }
    /* 五类烦恼 */
    .amazon .pic-wrap .ele.one{
        top:42px;
        left: 100px;
        width: 81px;
        height: 91px;
    }   
    .amazon .pic-wrap .ele.two{
        top:36px;
        left: 16px;
        width: 97px;
        height: 46px;
    }
    .amazon .pic-wrap .ele.three{
        top:36px;
        left: 160px;
        width: 106px;
        height: 53px;
    }
    .amazon .pic-wrap .ele.four{
        top:92px;
        left: 16px;
        width: 116px;
        height: 56px;
    }
    .amazon .pic-wrap .ele.five{
        top:100px;
        left: 150px;
        width: 114px;
        height: 56px;
    }
    .amazon .pic-wrap .ele.six{
        top:116px;
        left: 100px;
        width: 75px;
        height: 83px;
    }
    /* 亚马逊卖家的五类烦恼结束 */
    /* 4PX提供的五种服务 */
.fiveService .pic-wrap .ele.one{
    top:50px;
    left: 80px;
    width: 126px;
    height: 114px;
}   
.fiveService .pic-wrap .ele.two{
    top:0;
    left: 60px;
    width: 70px;
    height: 66px;
}
.fiveService .pic-wrap .ele.three{
    top:0;
    left: 150px;
    width: 70px;
    height: 66px;
}
.fiveService .pic-wrap .ele.four{
    top:72px;
    left: 26px;
    width: 70px;
    height: 66px;
}
.fiveService .pic-wrap .ele.five{
    top:72px;
    left: 190px;
    width: 70px;
    height: 66px;
}
.fiveService .pic-wrap .ele.six{
    top:134px;
    left: 108px;
    width: 70px;
    height: 72px;
}
.fiveService .pic-wrap .ele.seven{
    top:88px;
    left: 120px;
    width: 45px;
    height: 42px;
}
.itemDes .itemLi{
    margin-bottom: 15px;
}
.itemDes .itemLi .itemHead .sortNum{
    display: inline-block;
    width: 26px;
    height: 26px;
    text-align: center;
    line-height: 26px;
    color: #fff;
    background: url(../mobileImage/fa2_lc3_ico1.png) no-repeat center center;
    background-size: 100%;
}
.itemDes .itemLi .itemHead{
    font-size: 1.6rem;
}
.itemDes .itemLi .s-itemWrap{
    padding-left: 30px;
}
.itemDes .itemLi .s-itemWrap li{
    font-size: 1.2rem;
    height: 24px;
    line-height: 24px;
}
.itemDes .itemLi .s-itemWrap li:before{
    content: '';
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #ccc;
    margin-right: 4px;
}
/* 4PX提供的五种服务结束 */
}